<template>
  <div class="sc-chat-window" :class="open">
    <Header @closeChat="$emit('closeChat')">
      <template slot="username">Select a User</template>
    </Header>
    <div @scroll="handleScroll" ref="contacts" class="contacts-list">
      <ul>
        <li
          v-for="contact in sortedContacts"
          :key="contact.id"
          @click="selectContact(contact)"
          :class="{ 'selected': contact.id == selected }"
        >
          <div class="avatar">
            <img :src="contact.profile_image" :alt="contact.name" />
            <online-user :contact="contact" :onlineusers="onlineUsers"></online-user>
          </div>
          <div class="contact">
            <p class="name">{{contact.name}}</p>
            <p class="email">{{contact.email}}</p>
          </div>
          <span class="unread" v-if="contact.unread">{{ contact.unread }}</span>
        </li>
      </ul>
      <div v-if="$root.spinning">
        <infinite-loading></infinite-loading>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "./Header.vue";
import MessageList from "./MessageList.vue";
import OnlineUser from "./OnlineUser.vue";

export default {
  components: {
    Header,
    MessageList,
    OnlineUser
  },
  props: {
    contacts: {
      type: Array,
      default: []
    },
    onlineUsers: {
      default: ""
    }
  },
  data() {
    return {
      open: "open",
      selected: 0,
      readyFor: "up",
      previousScrollHeightMinusTop: 0
    };
  },
  methods: {
    selectContact(contact) {
      this.$socket.emit("active_user", this.$root.activeUser);
      this.$socket.emit("selected_contact", contact.id);
      this.$root.selected = contact.id;
      this.$emit("selected", contact);
    },
    handleScroll() {
      var offset =
        this.$refs.contacts.clientHeight + this.$refs.contacts.scrollTop;
      var height = this.$refs.contacts.scrollHeight;
      var offsetCeil = Math.round(offset);
      // console.log('offset: '+offsetCeil);
      // console.log('height: '+height);
      //console.log('scroll: '+scroll);

      if (offsetCeil === height) {
        this.$emit("end_of_contact");
      }
    }
  },
  computed: {
    sortedContacts() {
      return this.contacts.sort((contact_one, contact_two) => {
        return contact_two.latest - contact_one.latest;
      });
    }
  },
  mounted() {
    this.selected = this.$root.selected;
  }
};
</script>
<style lang="scss" scoped>
.sc-chat-window {
  width: 370px;
  height: calc(100% - 120px);
  max-height: 590px;
  position: fixed;
  right: 25px;
  bottom: 100px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 90px;
}

.sc-message--me {
  text-align: right;
}
.sc-message--them {
  text-align: left;
}

@media (max-width: 450px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }
  .sc-chat-window.closed {
    bottom: 0px;
  }
}

.contacts-list {
  flex: 2;
  overflow-y: scroll;

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: flex;
      padding: 2px;
      border-bottom: 1px solid #bad1fc;
      height: 80px;
      position: relative;
      cursor: pointer;

      &.selected {
        background: #f7f5f5;
      }

      span.unread {
        background: #4e8cff;
        color: #fff;
        position: absolute;
        right: 11px;
        top: 20px;
        display: flex;
        font-weight: 700;
        min-width: 20px;
        justify-content: center;
        align-items: center;
        line-height: 20px;
        font-size: 12px;
        padding: 0 4px;
        border-radius: 3px;
      }

      .avatar {
        flex: 1;
        display: flex;
        align-items: center;

        img {
          width: 35px;
          border-radius: 50%;
          margin: 0 auto;
          position: absolute;
          margin-left: 20px;
        }
      }

      .contact {
        flex: 3;
        font-size: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin: 0;

          &.name {
            font-size: 13px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
</style>
