<template>
  <div @scroll="handleScroll" class="feed" ref="feed">
    <div v-if="$root.spinning">
      <infinite-loading direction="top"></infinite-loading>
    </div>
    <ul v-if="contact">
      <li
        v-for="message in messages"
        :class="`message${message.to == contact.id ? ' sent' : ' received'}`"
        :key="message.id"
      >
        <div class="text">
          {{ message.text }}
          <i
            style="color: black"
            v-if=" message.to == contact.id && message.get_msz != 1 && message.read != 1"
            class="fas fa-check"
          ></i>
          <i
            style="color: black"
            v-if=" message.to == contact.id && message.get_msz == 1 && message.read != 1"
            class="far fa-check-circle"
          ></i>
          <i
            style="color: black"
            v-if=" message.to == contact.id && message.read == 1"
            class="fas fa-check-circle"
          ></i>
        </div>
      </li>
      <div v-if="typing" style="color: white" class="badge badge-info">
        <center>{{ typing }}</center>
      </div>
    </ul>
  </div>
</template>
<script>
export default {
  components: {},
  props: {
    contact: {
      type: Object
    },
    sign: {
      type: Boolean,
      default: false
    },
    messages: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      typing: null,
      readyFor: "up",
      elViewport: null,
      previousScrollHeightMinusTop: 0
    };
  },
  methods: {
    handleScroll() {
      var offset = this.$refs.feed.scrollTop + this.$refs.feed.clientHeight;
      var height = this.$refs.feed.clientHeight;
      var offsetCeil = Math.round(offset);
      //   console.log('offset'+offset);
      //   console.log('height'+height);

      if (offset === height) {
        this.$emit("end_of_page");
      }
    },
    prepareFor(direction) {
      this.readyFor = direction || "up";
      this.previousScrollHeightMinusTop =
        this.$refs.feed.scrollHeight - this.$refs.feed.scrollTop;
    },
    viewPort() {
      this.elViewport = document.querySelector(".feed");
    },
    restore() {
      if (this.readyFor === "up") {
        this.$refs.feed.scrollTop =
          this.$refs.feed.scrollHeight - this.previousScrollHeightMinusTop;
      }
    },
    scrollToBottom() {
      setTimeout(() => {
        this.$refs.feed.scrollTop =
          this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
      }, 50);
    },
    msgSeen() {
      this.messages.forEach(message => {
        message.new = 0;
        message.read = 1;
      });
    },
    userIsActive() {
      var total = this.messages.length - 1;
      this.messages[total].new = 0;
      this.messages[total].get_msz = 1;
    }
  },
  watch: {
    contact(contact) {
      this.scrollToBottom();
    },
    messages(messages) {
      if (this.$root.allMszs == messages) {
        this.scrollToBottom();
      } else {
        this.prepareFor("up");
        setTimeout(() => {
          this.restore();
        }, 0.01);
      }
    }
  },
  mounted() {},
  created() {
    (this.$options.sockets.typing = data => {
      if (
        data == this.$root.selected &&
        this.$root.activeUser == this.$root.opositeUserSelectedContact
      ) {
        this.typing = "typing...";
      }
    }),
      (this.$options.sockets.stoptyping = data => {
        if (
          data == this.$root.selected &&
          this.$root.activeUser == this.$root.opositeUserSelectedContact
        ) {
          this.typing = null;
        }
      }),
      (this.$options.sockets.msg_seen = data => {
        // if(userId == this.$root.activeUser){
        if (
          data == this.$root.selected &&
          this.$root.activeUser == this.$root.opositeUserSelectedContact
        ) {
          this.msgSeen();
        }
      }),
      (this.$options.sockets.user_is_active = oppositeUserId => {
        if (oppositeUserId == this.$root.selected) {
          this.userIsActive();
        }
      });
  }
};
</script>

<style lang="scss" scoped>
.feed {
  background: #f0f0f0;
  overflow-y: auto;
  background-size: 100%;
  padding: 40px 0px;
  height: 100%;
  ul {
    list-style: none;
    padding: 0px 20px;
    li {
      &.message {
        margin: 10px 0;
        width: 100%;

        .sign {
        }
        .text {
          max-width: 200px;
          border-radius: 5px;
          padding: 15px;
          display: inline-block;
        }

        &.received {
          text-align: left;
          .text {
            background: #e2e0e0;
          }
        }
        &.sent {
          text-align: right;
          .text {
            background: #4e8cff;
            color: #ffffff;
          }
        }
      }
    }
  }
}
</style>
