<template>
  <div>
    <span class="user-active" v-if="checkUser()"></span>
    <span class="user-inactive" v-else></span>
  </div>
</template>
<script>
export default {
  props: {
    contact: {
      default: ""
    },
    onlineusers: {
      default: ""
    }
  },
  methods: {
    checkUser() {
      return _.find(this.onlineusers, { id: this.contact.id });
    }
  }
};
</script>
<style scoped>
.user-active {
  flex: 1;
  display: flex;
  align-items: right;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(55, 192, 55);
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 38px;
  margin-top: 20px;
  border: 3px solid #ffffff;
}
.user-inactive {
  flex: 1;
  display: flex;
  align-items: right;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(129, 130, 134);
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 38px;
  margin-top: 20px;
  border: 3px solid #ffffff;
}
</style>

