<template>
  <div class="sc-chat-window" :class="open">
    <Header @closeChat="$emit('closeChat')">
      <template slot="username">
        Select a User
      </template>
    </Header>
    <div>
        <form  class="sc-user-input-search" :class="{active: inputActive}" >
        <input type="text"
            role="button"
            tabIndex="0"
            @focus="setInputActive(true)"
            @blur="setInputActive(false)"
            contentEditable="true"
            placeholder="Search by name or email"
            class="sc-user-input-search--text"
            ref="userInput"
            style="color: #565867"
            v-model="searchTerm"
            @input="onChange"
        >
        </form>
    </div>
    <div v-if="$root.spinning"><infinite-loading></infinite-loading></div>
    <div ref="contacts" class="contacts-list">
        <ul>
            <li v-for="contact in searchResults" :key="contact.id" 
            v-if="contact.id !== $root.activeUser"
            @click="selectContact(contact)" :class="{ 'selected': contact.id == selected }">
                <div class="avatar">
                    <img :src="contact.profile_image" :alt="contact.name">
                    <online-user :contact="contact" :onlineusers="onlineUsers"></online-user>
                </div>
                <div class="contact">
                    <p class="name">{{contact.name}}</p>
                    <p class="email">{{contact.email}}</p>
                </div>
                <span class="unread" v-if="contact.unread">{{ contact.unread }}</span>
            </li>
        </ul>
    </div>
  </div>
</template>

<script>
import Header from './Header.vue'
import MessageList from './MessageList.vue'
import OnlineUser from './OnlineUser.vue'

export default {
  components: {
    Header,
    MessageList,
    OnlineUser
  },
  props: {
    onlineUsers: {
      default: ''
    },
  },
  data() {
    return {
      open: "open",
      selected: 0,
      readyFor: 'up',
      previousScrollHeightMinusTop: 0,
      inputActive: false,
      search: '',
      searchTerm: '',
      searchResults: '',
      paginator:[]
    }
  },
  methods: {
    selectContact(contact) {
        // this.$socket.emit('active_user', this.$root.activeUser)
        // this.$socket.emit('selected_contact', contact.id);
        this.$root.selected = contact.id;
        this.$emit('selected',contact);
    },
     onChange(){
        if(this.searchTerm.trim() != ''){
            this.$root.spinning = !this.$root.spinning
            axios.post("/search", {serch: this.searchTerm})
            .then((response) => {
                this.$root.spinning = !this.$root.spinning
                this.searchResults = response.data;
            });
        }
        if(this.searchTerm.trim() == ''){
            this.searchResults = ''
        }

    },
    setInputActive (onoff) {
      this.inputActive = onoff
    },
  },
  mounted(){
    this.selected = this.$root.selected;
  },
}
</script>
<style lang="scss" scoped>
.sc-chat-window {
  width: 370px;
  height: calc(100% - 120px);
  max-height: 590px;
  position: fixed;
  right: 25px;
  bottom: 100px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 90px;
}

.sc-message--me {
  text-align: right;
}
.sc-message--them {
  text-align: left;
}

@media (max-width: 450px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }
  .sc-chat-window.closed {
    bottom: 0px;
  }
}




.contacts-list {
    flex: 2;
    overflow-y: scroll;
    
    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            display: flex;
            padding: 2px;
            border-bottom: 1px solid #bad1fc;
            height: 80px;
            position: relative;
            cursor: pointer;

            &.selected {
                background: #dfdfdf;
            }

            span.unread {
                background: #4e8cff;
                color: #fff;
                position: absolute;
                right: 11px;
                top: 20px;
                display: flex;
                font-weight: 700;
                min-width: 20px;
                justify-content: center;
                align-items: center;
                line-height: 20px;
                font-size: 12px;
                padding: 0 4px;
                border-radius: 3px;
            }

            .avatar {
                flex: 1;
                display: flex;
                align-items: center;

                img {
                    width: 35px;
                    border-radius: 50%;
                    margin: 0 auto;
                    position: absolute;
                    margin-left: 20px;
                }
            }

            .contact {
                flex: 3;
                font-size: 10px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    margin: 0;

                    &.name {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}


.sent-button {
  cursor: pointer;
  align-self: center;
  padding: 3px 15px 3px 0px;
}


.sc-user-input-search--text {
  width: 320px;
  max-width: 340px;
  resize: none;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  padding: 18px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #565867;
  -webkit-font-smoothing: antialiased;
  max-height: 200px;
  overflow: scroll;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.sc-user-input-search--text:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  /* color: rgba(86, 88, 103, 0.3); */
  filter: contrast(15%);
  outline: none;
}

.sc-user-input-search--buttons {
  width: 100px;
  position: absolute;
  right: 30px;
  height: 100%;
  display: flex;
}

.sc-user-input-search--button:first-of-type {
  width: 40px;
}

.sc-user-input-search--button {
  width: 30px;
  height: 55px;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc-user-input-search.active {
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}

.sc-user-input-search--button label {
  position: relative;
  height: 24px;
  padding-left: 3px;
  cursor: pointer;
}

.sc-user-input-search--button label:hover path {
  fill: rgba(86, 88, 103, 1);
}

.sc-user-input-search--button input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}

.file-container {
  background-color: #f4f7f9;
  border-top-left-radius: 10px;
  padding: 5px 20px;
  color: #565867;
}

.delete-file-message {
  font-style: normal;
  float: right;
  cursor: pointer;
  color: #c8cad0;
}

.delete-file-message:hover {
  color: #5d5e6d;
}

.icon-file-message {
  margin-right: 5px;
}

</style>
